{% extends "layout.html" %}
{% block content %}
<h1 class="display-1">About Us</h>
<article class="media content-section">
    <div class="media-body">
         <div class="article-metadata">
         <p2 class="text-justify">Welcome to Fit4All, Fit4All is a new way tp train. Users can ceate accounts, log activities and add goals to their home page. User will have the ability to follow other athletes and see how their stats compare with their friends.</p2>
         <div>
      </div>
   </div>
 </article>{% endblock content %}