{% extends "layout.html" %} {% block content %}
<h1 class="display-1">About Us</h1>
<article class="media content-section">
  <div class="media-body">
    <p class="article-content">
      Welcome to Fit4All, Fit4All is a new way to train. Users can ceate
      accounts, log activities and add goals to their home page. User will have
      the ability to follow other athletes and see how their stats compare with
      their friends.
    </p>
  </div>
  <div class="media-body">
    <h2>Contact us:</h2>
    <p class="article-content">
      email: help@fit4all.com <br />telephone: 0800 00 1066
    </p>
  </div>
</article>
{% endblock content %}
