{% extends "layout.html" %} {% block content %}
<div class="content-section">
  <div class="media">
    <img class="rouded-circle account-img" src="{{ image_file }}" />
    <div class="media-body">
      <h2 class="account-heading">{{ current_user.username }}</h2>
      <p class="text-secondary">{{ current_user.email }}</p>
    </div>
  </div>
</div>

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ user.username }}</a>
      {% if user.id == current_user.id %}
      <div>
        <a
          class="btn btn-danger btn-sm mt mb-1"
          href="{{ url_for('delete_account', user_id=user.id) }}"
          >Delete Account</a
        >
      </div>
      {% endif %}
    </div>
  </div>
</article>
{% endblock content %}
