{% extends "layout.html" %} {% block content %}
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ profile_image }}" />
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
      <p class="text-secondary">activties: {{ len(user.posts) }}</p>
    </div>
  </div>
</div>

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      {% if user.id == current_user.id %}
      <div>
        <a class="btn btn-primary btn-sm mt mb-1" href="#"
          >Update Profile Image</a
        >
        <a
          class="btn btn-danger btn-sm mt mb-1"
          href="{{ url_for('delete_account', user_id=user.id) }}"
          >Delete Account</a
        >
      </div>

      {% else %}
      <div>
        <a class="btn btn-primary btn-sm mt mb-1" href="#">Follow User</a>
      </div>
      {% endif %}
    </div>
  </div>
</article>
{% endblock content %}
