<!-- Extends layout.html -->
<!-- Contains information on the website and instructions on how to use it -->
{% extends "layout.html" %} {% block content %}
<article class="media content-section">
  <div class="media-body">
    <h2 >Description</h2>
    <p class="article-content">
      This website is the result of a project where we set out to provide an easy-to-use carbon footprint calculator for importing coffee beans into the United Kingdom. The results of this calculation allow coffee bean roasteries to more accurately offset their carbon emmisions. The website was built in conjunction with Glen Lyon Coffee Roasters by students of Edinburgh Napier University. The source code for the website can be found at https://github.com/lewisstevenmackenzie/Glen-Lyon-Group-Project .
    </p>
  </div>
  <div class="media-body">
    <h2 >How to Use</h2>
    <p><strong>
      Instructions
    </p>
  </div>
</article>
{% endblock content %}
