{% extends "layout.html" %} {% block content %}
<!-- <h1 class="display-1">About Us</h1> -->
<article class="media content-section">
  <div class="media-body">
    <h2>About Us</h2>
    <p class="article-content">
      We are dedicated to sourcing and roasting the finest speciality coffees from around the world. Our aim is to put people before profit and make excellent coffee, while honouring our commitment to net zero carbon and helping the people local and abroad that we work with.
    </p>
  </div>
  <div class="media-body">
    <h2 >Our Mission</h2>
    <p class="article-content">
      Our aim is to reduce carbon emissions with the goal of a net 0 carbon emission across our supply chain. Using this calculator, we can calculate the emissions from our supply chain so we can offset them by planting trees. However, we know that fighting climate change can’t be done alone so we are offering our tools to everyone to help in the fight against climate change.
    </p>
  </div>
  <div class="media-body">
    <h2 >F.A.Q</h2>
    <p><strong>
      Some Random Question1
    </strong></p>
    <p><em>
      Some Random answer 1
    </em></p>
    <p><strong>
      Some Random Question 2
    </strong></p>
    <p><em>
      Some Random answer 2
    </em></p>
  </div>
  <div class="media-body">
    <h2>Contact us:</h2>
    <p class="article-content">
      email: help@coffeeCalc.com <br />telephone: 0800 00 1066
    </p>
  </div>
</article>
{% endblock content %}
