<!-- Extends layout.html -->
<!-- Home Page for Logged In Users -->
{% extends "layout.html" %} {% block content%} {% for post in posts%}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <img class="rounded-circle account-img" src="{{ profile_image }}" />
    </div>
    <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
    <small class="text-muted">Date: {{ post.date.strftime('%Y-%m-%d') }}</small>
    <br>
    <p class="article-content">Start country: {{ post.start_country }}</p>
    <p class="article-content">Destination: {{ post.end_location }}</p>
  </div>
</article>
{% endfor %} {% endblock content %}
